html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
.signInContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  background-color: #fff;
  min-height: 300px;
  max-height: 100%;
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 40px;
  overflow-y: auto;
}

.column form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.column form input {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgb(175, 172, 172);
  padding: 5px;
  margin-top: 20px;
  outline: none;
}

.column form input:last-child:hover {
  cursor: pointer;
}

.column form input:last-child {
  margin-bottom: 10px;
  background-color: rgb(47, 126, 245);
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

.column h1 {
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
}

.column .mediumText {
  font-size: 15px;
  color: rgb(58, 54, 54);
  text-decoration: none;
}

.errorMessage {
  color: red;
  font-size: 13px;
}
